<nav class="navbar navbar-expand-sm navbar-light shadow-sm px-4">
    <a class="navbar-brand" href="#">Pokémon App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link btn btn-link" routerLink="pokemon-tables">Pokémon Tables</button>
        </li>
      </ul>
    </div>
    <div class="d-sm-none">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link btn btn-link" routerLink="pokemon-tables">Pokémon Tables</button>
          </li>
        </ul>
      </div>
    <span class="d-none d-md-block small mb-0">Time spent in app: {{ timeSpentInApp }}</span>
    <p class="d-block d-md-none small mb-0">Time spent in app: {{ timeSpentInApp }}</p>
</nav>